<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>LoginDisplay</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>35</session-timeout>
  </session-config>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
    </jsp-property-group>
  </jsp-config>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
    <param-value>ar</param-value>
  </context-param>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/Logout</form-login-page>
      <form-error-page>/Logout</form-error-page>
    </form-login-config>
  </login-config>
  <error-page>
    <error-code>401</error-code>
    <location>/error/Error.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error/Error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/Error.jsp</location>
  </error-page>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jsConstants</servlet-name>
    <jsp-file>/js/js_constants.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsConstants</servlet-name>
    <url-pattern>/js/js_constants.js</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jsLocalizedLiterals</servlet-name>
    <jsp-file>/js/js_localized_literals.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsLocalizedLiterals</servlet-name>
    <url-pattern>/js/js_localized_literals.js</url-pattern>
  </servlet-mapping>
  <servlet>

    <servlet-name>BasicServlet</servlet-name>
    <servlet-class>com.iassets.common.servlet.BasicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommonBasicServlet</servlet-name>
    <servlet-class>com.iassets.common.servlet.CommonBasicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BioBasicServlet</servlet-name>
    <servlet-class>com.iassets.biomedical.servlet.BioBasicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GenBasicServlet</servlet-name>
    <servlet-class>com.iassets.general.servlet.GenBasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenBasicServlet</servlet-name>
    <url-pattern>/gen/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PdfServlet</servlet-name>
    <servlet-class>com.iassets.common.servlet.PdfServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>GzipFilter</filter-name>
    <filter-class>com.iassets.common.servlet.filter.GZipServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.html</url-pattern>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.pdf</url-pattern>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <security-role>
    <role-name>bioRegionDirector</role-name>
  </security-role>
  <security-role>
    <role-name>genRegionDirector</role-name>
  </security-role>
  <security-role>
    <role-name>dirsuperadmin</role-name>
  </security-role>
  <security-role>
    <role-name>bioNgenInspector</role-name>
  </security-role>
  <security-role>
    <role-name>bioNgenEndUser</role-name>
  </security-role>
  <security-role>
    <role-name>bioSiteManager</role-name>
  </security-role>
  <security-role>
    <role-name>bioEng</role-name>
  </security-role>
  <security-role>
    <role-name>bioInspector</role-name>
  </security-role>
  <security-role>
    <role-name>bioInventoryKeeper</role-name>
  </security-role>
  <security-role>
    <role-name>bioSitesAdministration</role-name>
  </security-role>
  <security-role>
    <role-name>bioDirSupervisorsAssignation</role-name>
  </security-role>
  <security-role>
    <role-name>bioOnsiteAdministration</role-name>
  </security-role>
  <security-role>
    <role-name>genSiteManager</role-name>
  </security-role>
  <security-role>
    <role-name>genEng</role-name>
  </security-role>
  <security-role>
    <role-name>genInspector</role-name>
  </security-role>
  <security-role>
    <role-name>genInventoryKeeper</role-name>
  </security-role>
  <security-role>
    <role-name>genSitesAdministration</role-name>
  </security-role>
  <security-role>
    <role-name>genDirSupervisorsAssignation</role-name>
  </security-role>

  <security-role>
    <role-name>genPerformanceEvaluator</role-name>
  </security-role>


  <security-role>
    <role-name>bioContractorEvaluation</role-name>
  </security-role>
  <security-role>
    <role-name>bioDirectorateDashboard</role-name>
  </security-role>
  <security-role>
    <role-name>bioSiteDashboard</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>bio Contractor Evaluation Role</web-resource-name>
      <url-pattern>/bio/DailyContractorEvaluationProcess</url-pattern>
      <url-pattern>/bio/DailyContractorEvaluationDisplay</url-pattern>
      <url-pattern>/bio/MonthlyContractorEvaluationProcess</url-pattern>
      <url-pattern>/bio/MonthlyContractorEvaluationDisplay</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>bioContractorEvaluation</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>bio directorate dashboard</web-resource-name>
      <url-pattern>/bio/DirectorateDashboardViewer</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>bioDirectorateDashboard</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>bio site dashboard </web-resource-name>
      <url-pattern>/bio/SiteDashboardViewer</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>bioSiteDashboard</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>bio region director</web-resource-name>
      <url-pattern>/FileViewer</url-pattern>
      <url-pattern>/ChooseSessionHospitalDisplay</url-pattern>
      <url-pattern>/ChooseSessionHospitalProcess</url-pattern>
      <url-pattern>/bio/UserProfileDisplay</url-pattern>
      <url-pattern>/bio/HospitalProfileDisplay</url-pattern>
      <url-pattern>/bio/HospitalContractProfileDisplay</url-pattern>
      <url-pattern>/bio/ChangePasswordDisplay</url-pattern>
      <url-pattern>/bio/ChangePasswordProcess</url-pattern>
      <url-pattern>/bio/ViewOperatingCompanyOnsiteLaborers_Segment</url-pattern>
      <url-pattern>/bio/ViewOperatingCompanyOnsiteLaborers</url-pattern>
      <url-pattern>/bio/ViewPPMProgressBillHistory</url-pattern>
      <url-pattern>/bio/ViewSparePartsProgressBillHistory</url-pattern>
      <url-pattern>/bio/ViewOpenedJobOrders</url-pattern>
      <url-pattern>/bio/ViewOpenedJobOrdersSearch</url-pattern>
      <url-pattern>/bio/ViewLateJobOrders</url-pattern>
      <url-pattern>/bio/ViewLateJobOrdersSearch</url-pattern>
      <url-pattern>/bio/ViewClosedJobOrdersSearch</url-pattern>
      <url-pattern>/bio/ViewClosedJobOrders</url-pattern>
      <url-pattern>/bio/ViewJobOrderReportSearch</url-pattern>
      <url-pattern>/bio/ViewJobOrderReport</url-pattern>
      <url-pattern>/bio/ViewStandardJobOrderReport</url-pattern>
      <url-pattern>/bio/ViewCancelledJobOrdersSearch</url-pattern>
      <url-pattern>/bio/ViewCancelledJobOrders</url-pattern>
      <url-pattern>/bio/PPMVisitsTableFilterDisplay</url-pattern>
      <url-pattern>/bio/ViewPPMTable</url-pattern>
      <url-pattern>/bio/DevicesNeedPPMVisitFilterDisplay</url-pattern>
      <url-pattern>/bio/ViewDevicesNeedPPMVisit</url-pattern>
      <url-pattern>/bio/PPMVisitsDetailsFilterDisplay</url-pattern>
      <url-pattern>/bio/ViewPPMVisitsDetails</url-pattern>
      <url-pattern>/bio/ViewPPMNotHappenedVisitsAlias</url-pattern>
      <url-pattern>/bio/ViewPPMNotHappenedVisits</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>genRegionDirector</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>end user tasks</web-resource-name>
      <url-pattern>/FileViewer</url-pattern>
      <url-pattern>/ChooseSessionHospitalDisplay</url-pattern>
      <url-pattern>/ChooseSessionHospitalProcess</url-pattern>
      <url-pattern>/bio/UserProfileDisplay</url-pattern>
      <url-pattern>/bio/HospitalProfileDisplay</url-pattern>
      <url-pattern>/bio/HospitalContractProfileDisplay</url-pattern>
      <url-pattern>/bio/ChangePasswordDisplay</url-pattern>
      <url-pattern>/bio/ChangePasswordProcess</url-pattern>
      <url-pattern>/bio/OpenMaintenanceRequestSearch</url-pattern>
      <url-pattern>/bio/OpenMaintenanceRequest</url-pattern>
      <url-pattern>/bio/MaintenanceRequestDisplay</url-pattern>
      <url-pattern>/bio/MaintenanceRequestProcess</url-pattern>
      <url-pattern>/bio/MarkMaintenanceRequestAsFake</url-pattern>
      <url-pattern>/bio/ViewMaintenanceRequests</url-pattern>
      <url-pattern>/bio/ViewDevicesByCatnDep</url-pattern>
      <url-pattern>/gen/UserProfileDisplay</url-pattern>
      <url-pattern>/gen/HospitalProfileDisplay</url-pattern>
      <url-pattern>/gen/HospitalContractProfileDisplay</url-pattern>
      <url-pattern>/gen/ChangePasswordDisplay</url-pattern>
      <url-pattern>/gen/ChangePasswordProcess</url-pattern>
      <url-pattern>/gen/OpenMaintenanceRequestSearch</url-pattern>
      <url-pattern>/gen/OpenMaintenanceRequest</url-pattern>
      <url-pattern>/gen/MaintenanceRequestDisplay</url-pattern>
      <url-pattern>/gen/MaintenanceRequestProcess</url-pattern>
      <url-pattern>/gen/MarkMaintenanceRequestAsFake</url-pattern>
      <url-pattern>/gen/ViewMaintenanceRequests</url-pattern>
      <url-pattern>/gen/ViewDevicesByCatnDep</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>bioNgenEndUser</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>bio common tasks</web-resource-name>
      <url-pattern>/FileViewer</url-pattern>
      <url-pattern>/ChooseSessionHospitalDisplay</url-pattern>
      <url-pattern>/ChooseSessionHospitalProcess</url-pattern>
      <url-pattern>/bio/UserProfileDisplay</url-pattern>
      <url-pattern>/bio/HospitalProfileDisplay</url-pattern>
      <url-pattern>/bio/HospitalContractProfileDisplay</url-pattern>
      <url-pattern>/bio/ChangePasswordDisplay</url-pattern>
      <url-pattern>/bio/ChangePasswordProcess</url-pattern>
      <url-pattern>/bio/ViewOperatingCompanyOnsiteLaborers_Segment</url-pattern>
      <url-pattern>/bio/ViewOperatingCompanyOnsiteLaborers</url-pattern>
      <url-pattern>/bio/ViewPPMProgressBillHistory</url-pattern>
      <url-pattern>/bio/ViewSparePartsProgressBillHistory</url-pattern>
      <url-pattern>/bio/ViewDevicesByCatnDepSearch</url-pattern>
      <url-pattern>/bio/ViewDevicesByCatnDep</url-pattern>
      <url-pattern>/bio/ViewDevicesStatusSearch</url-pattern>
      <url-pattern>/bio/ViewDevicesStatus</url-pattern>
      <url-pattern>/bio/DevicesUnderMaintenanceSearch</url-pattern>
      <url-pattern>/bio/ViewDevicesUnderMaintenance</url-pattern>
      <url-pattern>/bio/DeviceHistoryFilterDisplay</url-pattern>
      <url-pattern>/bio/ViewDeviceHistory</url-pattern>
      <url-pattern>/bio/DevicesByWarrantyExpireFilterDisplay</url-pattern>
      <url-pattern>/bio/ViewDevicesByWarrantyExpire</url-pattern>
      <url-pattern>/bio/ViewDevicesNotInContractSearch</url-pattern>
      <url-pattern>/bio/ViewDevicesNotInContract</url-pattern>
      <url-pattern>/bio/ViewDevicesFromOtherSitesSearch</url-pattern>
      <url-pattern>/bio/ViewDevicesFromOtherSites</url-pattern>
      <url-pattern>/bio/ViewDevicesTransferredAlias</url-pattern>
      <url-pattern>/bio/ViewDevicesTransferred</url-pattern>
      <url-pattern>/bio/ViewDevicesScrappedAlias</url-pattern>
      <url-pattern>/bio/ViewDevicesScrapped</url-pattern>
      <url-pattern>/bio/ViewDeviceCardSearch</url-pattern>
      <url-pattern>/bio/ViewDeviceCard</url-pattern>
      <url-pattern>/bio/DeviceHistoryFilterDisplay</url-pattern>
      <url-pattern>/bio/ViewDeviceHistory</url-pattern>
      <url-pattern>/bio/PPMVisitsTableFilterDisplay</url-pattern>
      <url-pattern>/bio/ViewPPMTable</url-pattern>
      <url-pattern>/bio/DevicesNeedPPMVisitFilterDisplay</url-pattern>
      <url-pattern>/bio/ViewDevicesNeedPPMVisit</url-pattern>
      <url-pattern>/bio/PPMVisitsDetailsFilterDisplay</url-pattern>
      <url-pattern>/bio/ViewPPMVisitsDetails</url-pattern>
      <url-pattern>/bio/ViewPPMNotHappenedVisitsAlias</url-pattern>
      <url-pattern>/bio/ViewPPMNotHappenedVisits</url-pattern>
      <url-pattern>/bio/ViewOpenedJobOrders</url-pattern>
      <url-pattern>/bio/ViewOpenedJobOrdersSearch</url-pattern>
      <url-pattern>/bio/ViewLateJobOrders</url-pattern>
      <url-pattern>/bio/ViewLateJobOrdersSearch</url-pattern>
      <url-pattern>/bio/ViewClosedJobOrdersSearch</url-pattern>
      <url-pattern>/bio/ViewClosedJobOrders</url-pattern>
      <url-pattern>/bio/ViewJobOrderReportSearch</url-pattern>
      <url-pattern>/bio/ViewJobOrderReport</url-pattern>
      <url-pattern>/bio/ViewStandardJobOrderReport</url-pattern>
      <url-pattern>/bio/ViewMaintenanceRequestsSearch</url-pattern>
      <url-pattern>/bio/ViewMaintenanceRequests</url-pattern>
      <url-pattern>/bio/ViewAllSPInventoryCategories</url-pattern>
      <url-pattern>/bio/ViewDeviceDetailsReport</url-pattern>
      <url-pattern>/bio/ViewUnderThresholdSPInventoryCategories</url-pattern>
      <url-pattern>/bio/ViewSpecificSPInventoryTransactionsReportSearch</url-pattern>
      <url-pattern>/bio/ViewSpecificSPInventoryTransactionsReport</url-pattern>
      <url-pattern>/bio/ViewSpecificSPInventoryTransactions</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>dirsuperadmin</role-name>
      <role-name>bioNgenInspector</role-name>
      <role-name>bioSiteManager</role-name>
      <role-name>bioEng</role-name>
      <role-name>bioInspector</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>bio entry tasks</web-resource-name>
      <url-pattern>/FileDelete</url-pattern>
      <url-pattern>/bio/CheckJobOrderNoDuplication</url-pattern>
      <url-pattern>/bio/CheckDeviceInfoDuplication</url-pattern>
      <url-pattern>/bio/CheckSPCategoryDuplication</url-pattern>
      <url-pattern>/bio/JobOrderSPInventoryAjax</url-pattern>
      <url-pattern>/bio/DeviceInfoDisplay</url-pattern>
      <url-pattern>/bio/DeviceInfoProcess</url-pattern>
      <url-pattern>/bio/UpdateDeviceInfoSearch</url-pattern>
      <url-pattern>/bio/UpdateDeviceInfo</url-pattern>
      <url-pattern>/bio/PpmFollowupSearch</url-pattern>
      <url-pattern>/bio/PpmFollowup</url-pattern>
      <url-pattern>/bio/PPMVisitDisplay</url-pattern>
      <url-pattern>/bio/PPMVisitProcess</url-pattern>
      <url-pattern>/bio/OpenJobOrderSearch</url-pattern>
      <url-pattern>/bio/OpenJobOrder</url-pattern>
      <url-pattern>/bio/JobOrderOpenDisplay</url-pattern>
      <url-pattern>/bio/JobOrderOpenProcess</url-pattern>
      <url-pattern>/bio/FollowupJobOrderSearch</url-pattern>
      <url-pattern>/bio/FollowupJobOrder</url-pattern>
      <url-pattern>/bio/JobOrderTrackingDisplay</url-pattern>
      <url-pattern>/bio/JobOrderFollowupFirstPhaseProcess</url-pattern>
      <url-pattern>/bio/JobOrderFollowupSecondPhaseProcess</url-pattern>
      <url-pattern>/bio/JobOrderFollowupThirdPhaseProcess</url-pattern>
      <url-pattern>/bio/AddNewSPCategoryDisplay</url-pattern>
      <url-pattern>/bio/AddNewSPCategoryProcess</url-pattern>
      <url-pattern>/bio/UpdateSPCategorySearch</url-pattern>
      <url-pattern>/bio/UpdateSPCategory</url-pattern>
      <url-pattern>/bio/UpdateSPCategoryDisplay</url-pattern>
      <url-pattern>/bio/UpdateSPCategoryProcess</url-pattern>
      <url-pattern>/bio/ViewCancelledJobOrdersSearch</url-pattern>
      <url-pattern>/bio/ViewCancelledJobOrders</url-pattern>
      <url-pattern>/bio/ViewEmptyStandardJobOrderReport</url-pattern>
      <url-pattern>/bio/OpenJobOrderForMaintenanceRequest</url-pattern>
      <url-pattern>/bio/ViewOpenedJobOrders</url-pattern>
      <url-pattern>/bio/ViewOpenedJobOrdersSearch</url-pattern>
      <url-pattern>/bio/ViewLateJobOrders</url-pattern>
      <url-pattern>/bio/ViewLateJobOrdersSearch</url-pattern>
      <url-pattern>/bio/PPMNotRecordedVisitsFilterDisplay</url-pattern>
      <url-pattern>/bio/ViewPPMNotRecordedVisits</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>bioSiteManager</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>bio high privilege entry tasks</web-resource-name>
      <url-pattern>/bio/TransferDeviceSearch</url-pattern>
      <url-pattern>/bio/TransferDevice</url-pattern>
      <url-pattern>/bio/DeviceTransferringDisplay</url-pattern>
      <url-pattern>/bio/DeviceTransferringProcess</url-pattern>
      <url-pattern>/bio/ScrappDeviceSearch</url-pattern>
      <url-pattern>/bio/ScrappDevice</url-pattern>
      <url-pattern>/bio/DeviceScrappingDisplay</url-pattern>
      <url-pattern>/bio/DeviceScrappingProcess</url-pattern>
      <url-pattern>/bio/CancelJobOrderSearch</url-pattern>
      <url-pattern>/bio/CancelJobOrder</url-pattern>
      <url-pattern>/bio/JobOrderDeleteDisplay</url-pattern>
      <url-pattern>/bio/JobOrderDeleteProcess</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>bioSiteManager</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>bio administration tasks</web-resource-name>
      <url-pattern>/bio/ResetUserPasswordDisplay</url-pattern>
      <url-pattern>/bio/ResetUserPasswordProcess</url-pattern>
      <url-pattern>/bio/UpdateEmployeeInfoDisplay</url-pattern>
      <url-pattern>/bio/UpdateEmployeeInfoProcess</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>dirsuperadmin</role-name>
      <role-name>bioSitesAdministration</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>bio directorate supervisors assignation tasks</web-resource-name>
      <url-pattern>/bio/AssignDirectorateSupervisorToSitesDisplay</url-pattern>
      <url-pattern>/bio/AssignDirectorateSupervisorToSitesProcess</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>dirsuperadmin</role-name>
      <role-name>bioDirSupervisorsAssignation</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>bio onsite administration tasks</web-resource-name>
      <url-pattern>/bio/ManageContractInfoDisplay</url-pattern>
      <url-pattern>/bio/ManageContractInfoProcess</url-pattern>
      <url-pattern>/bio/ViewOperatingCompanyOnsiteLaborers_Segment</url-pattern>
      <url-pattern>/bio/OperatingCompanyLaborerInfoDisplay</url-pattern>
      <url-pattern>/bio/OperatingCompanyLaborerInfoProcess</url-pattern>
      <url-pattern>/bio/ProgressBillInfoDisplay</url-pattern>
      <url-pattern>/bio/UpdateLastPPMProgressBill</url-pattern>
      <url-pattern>/bio/UpdateLastSparePartsProgressBill</url-pattern>
      <url-pattern>/bio/ProgressBillInfoProcess</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>bioOnsiteAdministration</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>bio inventory keeper tasks</web-resource-name>
      <url-pattern>/FileViewer</url-pattern>
      <url-pattern>/ChooseSessionHospitalDisplay</url-pattern>
      <url-pattern>/ChooseSessionHospitalProcess</url-pattern>
      <url-pattern>/bio/UserProfileDisplay</url-pattern>
      <url-pattern>/bio/HospitalProfileDisplay</url-pattern>
      <url-pattern>/bio/HospitalContractProfileDisplay</url-pattern>
      <url-pattern>/bio/ChangePasswordDisplay</url-pattern>
      <url-pattern>/bio/ChangePasswordProcess</url-pattern>
      <url-pattern>/bio/ViewAllSPInventoryCategories</url-pattern>
      <url-pattern>/bio/ViewUnderThresholdSPInventoryCategories</url-pattern>
      <url-pattern>/bio/AddNewSPCategoryDisplay</url-pattern>
      <url-pattern>/bio/AddNewSPCategoryProcess</url-pattern>
      <url-pattern>/bio/UpdateSPCategorySearch</url-pattern>
      <url-pattern>/bio/UpdateSPCategory</url-pattern>
      <url-pattern>/bio/UpdateSPCategoryDisplay</url-pattern>
      <url-pattern>/bio/UpdateSPCategoryProcess</url-pattern>
      <url-pattern>/bio/CheckSPCategoryDuplication</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>bioInventoryKeeper</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>gen inventory keeper tasks</web-resource-name>
      <url-pattern>/FileViewer</url-pattern>
      <url-pattern>/ChooseSessionHospitalDisplay</url-pattern>
      <url-pattern>/ChooseSessionHospitalProcess</url-pattern>
      <url-pattern>/gen/UserProfileDisplay</url-pattern>
      <url-pattern>/gen/HospitalProfileDisplay</url-pattern>
      <url-pattern>/gen/HospitalContractProfileDisplay</url-pattern>
      <url-pattern>/gen/ChangePasswordDisplay</url-pattern>
      <url-pattern>/gen/ChangePasswordProcess</url-pattern>
      <url-pattern>/gen/ViewAllSPInventoryCategories</url-pattern>
      <url-pattern>/gen/ViewUnderThresholdSPInventoryCategories</url-pattern>
      <url-pattern>/gen/AddNewSPCategoryDisplay</url-pattern>
      <url-pattern>/gen/AddNewSPCategoryProcess</url-pattern>
      <url-pattern>/gen/UpdateSPCategorySearch</url-pattern>
      <url-pattern>/gen/UpdateSPCategory</url-pattern>
      <url-pattern>/gen/UpdateSPCategoryDisplay</url-pattern>
      <url-pattern>/gen/UpdateSPCategoryProcess</url-pattern>
      <url-pattern>/gen/CheckSPCategoryDuplication</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>genInventoryKeeper</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Deny Direct Access To JSP</web-resource-name>
      <description>Deny Direct Access To JSP</description>
      <url-pattern>*.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>gen common tasks</web-resource-name>
      <url-pattern>/FileViewer</url-pattern>
      <url-pattern>/ChooseSessionHospitalDisplay</url-pattern>
      <url-pattern>/ChooseSessionHospitalProcess</url-pattern>
      <url-pattern>/gen/UserProfileDisplay</url-pattern>
      <url-pattern>/gen/HospitalProfileDisplay</url-pattern>
      <url-pattern>/gen/HospitalContractProfileDisplay</url-pattern>
      <url-pattern>/gen/ChangePasswordDisplay</url-pattern>
      <url-pattern>/gen/ChangePasswordProcess</url-pattern>
      <url-pattern>/gen/ViewDevicesByCatnDepSearch</url-pattern>
      <url-pattern>/gen/ViewDevicesByCatnDep</url-pattern>
      <url-pattern>/gen/ViewDevicesStatusSearch</url-pattern>
      <url-pattern>/gen/ViewDevicesStatus</url-pattern>
      <url-pattern>/gen/ViewDevicesUnderMaintenanceAlias</url-pattern>
      <url-pattern>/gen/ViewDevicesUnderMaintenance</url-pattern>
      <url-pattern>/gen/DeviceHistoryFilterDisplay</url-pattern>
      <url-pattern>/gen/ViewDeviceHistory</url-pattern>
      <url-pattern>/gen/DevicesByWarrantyExpireFilterDisplay</url-pattern>
      <url-pattern>/gen/ViewDevicesByWarrantyExpire</url-pattern>
      <url-pattern>/gen/ViewDevicesNotInContractAlias</url-pattern>
      <url-pattern>/gen/ViewDevicesNotInContract</url-pattern>
      <url-pattern>/gen/ViewDevicesFromOtherSitesAlias</url-pattern>
      <url-pattern>/gen/ViewDevicesFromOtherSites</url-pattern>
      <url-pattern>/gen/ViewDevicesTransferredAlias</url-pattern>
      <url-pattern>/gen/ViewDevicesTransferred</url-pattern>
      <url-pattern>/gen/ViewDevicesScrappedAlias</url-pattern>
      <url-pattern>/gen/ViewDevicesScrapped</url-pattern>
      <url-pattern>/gen/ViewDeviceCardSearch</url-pattern>
      <url-pattern>/gen/ViewDeviceCard</url-pattern>
      <url-pattern>/gen/DeviceHistoryFilterDisplay</url-pattern>
      <url-pattern>/gen/ViewDeviceHistory</url-pattern>
      <url-pattern>/gen/PPMVisitsTableFilterDisplay</url-pattern>
      <url-pattern>/gen/ViewPPMTable</url-pattern>
      <url-pattern>/gen/DevicesNeedPPMVisitFilterDisplay</url-pattern>
      <url-pattern>/gen/ViewDevicesNeedPPMVisit</url-pattern>
      <url-pattern>/gen/PPMVisitsDetailsFilterDisplay</url-pattern>
      <url-pattern>/gen/ViewPPMVisitsDetails</url-pattern>
      <url-pattern>/gen/ViewPPMNotHappenedVisitsAlias</url-pattern>
      <url-pattern>/gen/ViewPPMNotHappenedVisits</url-pattern>
      <url-pattern>/gen/ViewOpenedJobOrdersAlias</url-pattern>
      <url-pattern>/gen/ViewOpenedJobOrders</url-pattern>
      <url-pattern>/gen/ViewClosedJobOrdersSearch</url-pattern>
      <url-pattern>/gen/ViewClosedJobOrders</url-pattern>
      <url-pattern>/gen/ViewJobOrderReportSearch</url-pattern>
      <url-pattern>/gen/ViewJobOrderReport</url-pattern>
      <url-pattern>/gen/ViewStandardJobOrderReport</url-pattern>
      <url-pattern>/gen/ViewMaintenanceRequestsSearch</url-pattern>
      <url-pattern>/gen/ViewMaintenanceRequests</url-pattern>
      <url-pattern>/gen/ViewAllSPInventoryCategories</url-pattern>
      <url-pattern>/gen/ViewDeviceDetailsReport</url-pattern>
      <url-pattern>/gen/ViewLateJobOrders</url-pattern>
      <url-pattern>/gen/ViewUnderThresholdSPInventoryCategories</url-pattern>
      <url-pattern>/gen/ViewPerformanceEvaluation</url-pattern>
      <url-pattern>/gen/ViewCurrentlyScheduledInternalPPMFilterDisplay</url-pattern>
      <url-pattern>/gen/ViewCurrentlyScheduledInternalPPM</url-pattern>
      <url-pattern>/gen/ViewScheduledInternalPPMByMonthNYearFilterDisplay</url-pattern>
      <url-pattern>/gen/ViewScheduledInternalPPMByMonthNYear</url-pattern>
      <url-pattern>/gen/ViewSpecificSPInventoryTransactionsReportSearch</url-pattern>
      <url-pattern>/gen/ViewSpecificSPInventoryTransactionsReport</url-pattern>
      <url-pattern>/gen/ViewSpecificSPInventoryTransactions</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>dirsuperadmin</role-name>
      <role-name>bioNgenInspector</role-name>
      <role-name>genSiteManager</role-name>
      <role-name>genEng</role-name>
      <role-name>genInspector</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>gen entry tasks</web-resource-name>
      <url-pattern>/FileDelete</url-pattern>
      <url-pattern>/gen/CheckJobOrderNoDuplication</url-pattern>
      <url-pattern>/gen/CheckDeviceInfoDuplication</url-pattern>
      <url-pattern>/gen/CheckSPCategoryDuplication</url-pattern>
      <url-pattern>/gen/JobOrderSPInventoryAjax</url-pattern>
      <url-pattern>/gen/DeviceInfoDisplay</url-pattern>
      <url-pattern>/gen/DeviceInfoProcess</url-pattern>
      <url-pattern>/gen/UpdateDeviceInfoSearch</url-pattern>
      <url-pattern>/gen/UpdateDeviceInfo</url-pattern>
      <url-pattern>/gen/PpmFollowupSearch</url-pattern>
      <url-pattern>/gen/PpmFollowup</url-pattern>
      <url-pattern>/gen/PPMVisitDisplay</url-pattern>
      <url-pattern>/gen/PPMVisitProcess</url-pattern>
      <url-pattern>/gen/OpenJobOrderSearch</url-pattern>
      <url-pattern>/gen/OpenJobOrder</url-pattern>
      <url-pattern>/gen/JobOrderOpenDisplay</url-pattern>
      <url-pattern>/gen/JobOrderOpenProcess</url-pattern>
      <url-pattern>/gen/FollowupJobOrderSearch</url-pattern>
      <url-pattern>/gen/FollowupJobOrder</url-pattern>
      <url-pattern>/gen/JobOrderTrackingDisplay</url-pattern>
      <url-pattern>/gen/JobOrderFollowupFirstPhaseProcess</url-pattern>
      <url-pattern>/gen/JobOrderFollowupSecondPhaseProcess</url-pattern>
      <url-pattern>/gen/JobOrderFollowupThirdPhaseProcess</url-pattern>
      <url-pattern>/gen/AddNewSPCategoryDisplay</url-pattern>
      <url-pattern>/gen/AddNewSPCategoryProcess</url-pattern>
      <url-pattern>/gen/UpdateSPCategorySearch</url-pattern>
      <url-pattern>/gen/UpdateSPCategory</url-pattern>
      <url-pattern>/gen/UpdateSPCategoryDisplay</url-pattern>
      <url-pattern>/gen/UpdateSPCategoryProcess</url-pattern>
      <url-pattern>/gen/ViewLateJobOrdersAlias</url-pattern>
      <url-pattern>/gen/ViewCancelledJobOrdersSearch</url-pattern>
      <url-pattern>/gen/ViewCancelledJobOrders</url-pattern>
      <url-pattern>/gen/OpenJobOrderForMaintenanceRequest</url-pattern>
      <url-pattern>/gen/InternalPpmFollowupSearch</url-pattern>
      <url-pattern>/gen/InternalPpmFollowup</url-pattern>
      <url-pattern>/gen/InternalPPMVisitDisplay</url-pattern>
      <url-pattern>/gen/InternalPPMVisitProcess</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>genSiteManager</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>gen high privilege entry tasks</web-resource-name>
      <url-pattern>/gen/TransferDeviceSearch</url-pattern>
      <url-pattern>/gen/TransferDevice</url-pattern>
      <url-pattern>/gen/DeviceTransferringDisplay</url-pattern>
      <url-pattern>/gen/DeviceTransferringProcess</url-pattern>
      <url-pattern>/gen/ScrappDeviceSearch</url-pattern>
      <url-pattern>/gen/ScrappDevice</url-pattern>
      <url-pattern>/gen/DeviceScrappingDisplay</url-pattern>
      <url-pattern>/gen/DeviceScrappingProcess</url-pattern>
      <url-pattern>/gen/CancelJobOrderSearch</url-pattern>
      <url-pattern>/gen/CancelJobOrder</url-pattern>
      <url-pattern>/gen/JobOrderDeleteDisplay</url-pattern>
      <url-pattern>/gen/JobOrderDeleteProcess</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>genSiteManager</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>gen performance evaluation tasks</web-resource-name>
      <url-pattern>/gen/MasterEvaluationDisplay</url-pattern>
      <url-pattern>/gen/EvaluationDisplay</url-pattern>
      <url-pattern>/gen/EvaluationProcess</url-pattern>
      <url-pattern>/gen/ViewPerformanceEvaluation</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>genPerformanceEvaluator</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>gen administration tasks</web-resource-name>
      <url-pattern>/gen/ResetUserPasswordDisplay</url-pattern>
      <url-pattern>/gen/ResetUserPasswordProcess</url-pattern>
      <url-pattern>/gen/UpdateEmployeeInfoDisplay</url-pattern>
      <url-pattern>/gen/UpdateEmployeeInfoProcess</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>dirsuperadmin</role-name>
      <role-name>genSitesAdministration</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>gen directorate supervisors assignation tasks</web-resource-name>
      <url-pattern>/gen/AssignDirectorateSupervisorToSitesDisplay</url-pattern>
      <url-pattern>/gen/AssignDirectorateSupervisorToSitesProcess</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>dirsuperadmin</role-name>
      <role-name>genDirSupervisorsAssignation</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
